@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0059cd;
  --secondary: #fad406;
  --primary-light: #f5eeff;
  --primary-dark: #004aac;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

/* Form elements sizing */
input, select, textarea, button {
  font-size: 0.85rem;
  height: auto;
  /* padding: 0.3rem 0.625rem; */
}

button {
  padding: 0.4rem 0.625rem;
}

/* Headings sizing */
h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

/* Remove dark mode preferences */
@keyframes dotTrail {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
  100% {
    content: '.';
  }
}

.animate-dot-trail::after {
  content: '.';
  display: inline-block;
  animation: dotTrail 1.5s infinite;
}
